*{
	margin:0;
	padding:0;
	width: 100%;
}

body{
	overflow-x: hidden;
}

a{
	cursor:pointer;
}

img{
	display: block;
}

.home-fs{
	width: 100%;
	height: 0px;
	padding-bottom: 50%;
	background-image: url(../../images/homepage_main_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.fs-cover{
	height: 0px;
	padding-bottom: 50%;
	background: rgba(0,0,0,0.85);
}

.cover-text{
	font-size: 72px;
	font-family: "PingFang SC", helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
}

.cover-text span{
	margin-right: 30px;
}

.ct-letter{
	color: #358CCC;
	font-style: normal;
}

.port-item{
	width: auto;
	/*height: 0px;*/
	padding-bottom: 50%;
}

.port-item:last-child{
	padding-bottom: 0;
}

#port-title1{
	color: #fff;
}

#redesign-vice-title{
	background-color: rgba(97,0,17,0.45);
	font-size: 0.32rem;
	color: #FBF1F2;
}

#item1{
	background-image: url(../../images/ymt_redesign_cover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#item2{
	background-image: url(../../images/homepage_library_bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;	
}


#bicycle-title{
	margin: 12% 0 0 10%;
	position: absolute;
	z-index: 1;
}

#bicycle-vice-title{
	text-align: right;
}

.copyright{
	padding-top: 40px;
	padding-bottom: 0px;
}

.homepage_btn{
	width: 200px;
	margin-left: 8%;
	margin-top: 5%;
	color: #D4204B;
}

.component_btn{
	width: 260px;
	margin: 5% auto 0px;
	color: #8F7A8A;
}

.bicycle_btn{
	width: 260px;
	margin-top: 5%;
	float: right;
	color: #46B0DF;
}

#port2-title{
	color: #fff;
}

.library-main-title-mobile{
	display: none;
}

@media screen and (max-width: 768px) {
	.cover-text{
		font-size: .96rem;
	}

	.home-fs{
		background-image: url(../../images/homepage_main_mobile_bg.jpg);
	}

	.cover-text span{
		display: block;
	}

	.port-enter{
		width: 100%;
	}

	#port-img1{
		width: 75%;
		margin: 0 auto;
	}

	#port-title1{
 		font-size: 40px;
		text-align: center;
		padding: 12% 0 8%;
		font-size: 0.9rem;
	}

	#port2-title{
		font-size: 0.9rem;
		padding: 12% 8% 8%;
		width: auto;
	}

	#bicycle-title{
		width: auto;
		padding: 14% 10% 0;
		margin: 0;
	}

	#bicycle-main-title{
		/*width: 80%;*/
		font-size: 0.90rem;
		color: #fff;
		margin-bottom: 4%;
	}

	#bicycle-vice-title{
		font-size: 0.48rem;
		color: #fff;
		/*width: 76%;*/
	}

	#bicycle-cover-img{
		display: none;
	}

	.homepage_btn{
		margin: 5% auto!important;
	}

	.component_btn{
		margin: 25% auto 0px;
	}

	.bicycle_btn{
		margin: 5% auto;
		float: right;
	}

	.port-item{
		padding-bottom: 10%;
	}

	.library-main-title-mobile{
		display: block;
		text-align: center;
	}

	#library-main-title{
		display: none;
	}

	#library-vice-title{
		text-align: center;
		margin-top: 10px;
	}
}

@media screen and (min-width: 768px) {
	.opacity_septicial{
		background-color: rgba(0, 0, 0, 0);
	}

	.home-fs{

	}

	.port-title-left{
		float: left;
	}

	.port-img-right{
		float: right;
	}

	#bicycle-title{
		width: 61%;
	}

	#item1{
	}

	#item2{
		position: relative;
	}

	#port2-title{
		position: absolute;
		z-index: 1;
		text-align: center;
		color: #fff;
		top: 50%;
		transform: translateY(-50%);
	}

	#port-img1{
		width: 55%;
		padding: 8% 5% 0 0;
	}

	#port-title1{
		width: 40%;
 		font-size: 0.4rem;
		text-align: center;
		padding: 15% 0 0;
	}

	#port-title1 p{
		margin-bottom: 2%;
	}

	#redesign-vice-title{
		margin-left: 8%;
		width:65%;
		padding-left: 20px;
		text-align: left;
	}

	#library-main-title{
		font-size: 0.48rem;
	}

	#library-vice-title{
		font-size: 0.48rem;
	}

	#bicycle-main-title{
		font-size: 0.48rem;
		color: #fff;
	}

	#bicycle-vice-title{
		font-size: 0.28rem;
		color: #fff;
	}

	#bicycle-mobile-cover-img{
		display: none;
	}
}



